main {
    width: 100%;
    text-align: center;
    padding: 3rem 0;
}
main h1 {
    font-size: 3rem;
    margin: 3rem 0 5rem 0;
}
main article {
    width: 80%;
    margin: 3rem auto;
    text-align: justify;
    font-size: 2rem;
}